body { 
	overflow-x: hidden;

	&.swal2-shown {
		.header--absolute {
			@include media-breakpoint-up(lg) {
				right: 17px;
				width: auto;
			} 
		}
	}
}

/* Box Shadow */
.box-shadow {
	&--big,
	&--profile {
		box-shadow: 0px 12px 90px -10px rgba(139, 139, 139, 0.5);
	}
}

hr {
	background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    border: 0;
    height: 1px;
    margin: 22px 0;
} 

.text {
	&-weight {
		&--light {
			font-weight: 300;
		}
	}
	
	&-font {
		&--cursive {
			font-family: "Shadows Into Light", cursive;
		}
	}
	
	&-color {
		&--primary {
			color: theme-color( 'primary' );
		}
	}
}

/* Mask Animation */
.maskUp { 
	animation-name: maskUp;
}

.maskRight { 
	animation-name: maskRight;
}

.maskLeft { 
	animation-name: maskLeft;
}

.maskDown { 
	animation-name: maskDown;
}

.facebook-wide-wrapper {
    position: relative;
	overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        background-image: linear-gradient(to right, rgba( 255, 255, 255, .1 ) 40%, white 100% );
        pointer-events: none;
    }
}