.about-me {
	padding-top: 108px;

	&__intro {
		overflow: hidden;

		@include media-breakpoint-up( 'lg' ) {
			overflow: visible;
		}
	}

	&__image {		
		&-wrap {
			position: relative;  
			perspective: 650px;
			perspective-origin: center;
			z-index: 50;
		}
	}

	&__profile {
		position: relative;
		display: block;
		width: 100%;
		background: white;
		border: 10px solid #fff;
		margin-bottom: 2rem; 
		will-change: transform;

		@include media-breakpoint-up( 'lg' ) { 
			position: absolute; 
			top: -70px;
			z-index: 15; 
		} 

		&:hover {
			svg {
				stroke-dashoffset: 0;
			}
		}

		div {
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			max-width: 100%;
			height: 0;
			padding-bottom: 115%;
			background-size: cover;
			background-position: center;
			transition: opacity 0.6s ease-in-out;
			transform: translate3d(-50%, -50%, 0);

			&.shown {
				position: relative;
				display: block;
				opacity: 1;
				top: 0;
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}

		&-decoration {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #fff; 
			overflow: hidden;
			transform: scale3d(1.3,1.05,1);
			stroke-dasharray: 1270;
			stroke-dashoffset: 1270;
			transition: stroke-dashoffset 0.7s; 
			pointer-events: none;
		}
	}

	&__headline {
		letter-spacing: -2px;
		text-shadow: 4px 4px 0.7rem rgba(0,0,0,0.35); 
		@include font-size( 3.5rem )
	}

	&__links {
		&:after {
			content: "";
			position: absolute;
			right: 0;
			height: 0;
			width: 75vw;
			border-bottom: 1px solid lightgray;
			z-index: 10;

			@media (max-width: 991px) {
				width: 100%;
			}
		}

		.col-lg-2 {
			border-left: 1px solid lightgray;
			border-right: 1px solid lightgray;
		}
	}

	&__link {
		display: block;
		width: 100%;
		padding: 15px 0;
		letter-spacing: -0.5px;
		line-height: 1.3;
		background-color: transparent;
		text-decoration: none;
		border: none;
		color: #2e353e;
		outline: none; 
		@include font-size( 1.2rem );

		@include media-breakpoint-up( 'lg' ) {
			padding: 30px 0;
		}

		&:focus,
		&:active,
		&:hover {
			background-color: transparent;
			border-color: transparent;
			box-shadow: none;
			color: #2e353e;
		} 

		.svg-inline--fa {
			display: inline-block;
			vertical-align: middle;
			fill: currentColor;
			margin-right: 10px;
			width: 25px;
			height: 25px;

			@include media-breakpoint-down(sm) {
				width: 20px;
				height: 20px;
			}

			@include media-breakpoint-down(xs) {
				width: 28px;
				height: 28px;
			}
		}

		span {
			vertical-align: middle;

			@include media-breakpoint-down(sm) {
				font-size: 0.8rem;
			}

			@media (max-width: 576px) {
				display: none;
			}
		}
	}

	&__content {
		position: relative;
		padding: 5rem 0 3rem;

		@media (max-width: 991px) {
			padding-top: 3.5rem;
		}

		@media (max-width: 576px) {
			padding: 2rem 0 2rem;
		}

		&-text { 
			position: relative;
			margin-bottom: 40px;
			max-height: 135px;
			overflow: hidden;
			text-overflow: ellipsis;
			overflow-wrap: break-word; 
			padding-bottom: 35px;

			&--opened {
				max-height: 100%;
				overflow: visible; 

				&::after {
					content: none!important;
				}
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				bottom: 0;  
			}

			&::before { 
				width: 100%;
				border-top: 1px solid lightgray;
				transform: translateY(-25px);
				z-index: 10;
			}

			&::after { 
				bottom: -5px;
				left: 0;
				height: 75px;
				width: 100%; 
				z-index: 5;
				background: linear-gradient(to top, rgba(255,255,255,1) 60%,rgba(255,255,255,.7) 80%,rgba(255,255,255,.2) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
			}

			mark {
				background-color: transparent;
				text-decoration: line-through;
			}
		}

		&-more {
			font-weight: 400;
			z-index: 10;
		}
	}
}
