/* 	= CTA Section
--------------------------------------------------------------- */
.calltoaction { 
    position: relative;
    overflow: hidden; 
    font-family: $font-family-base;
    color: white; 
    padding: 2.5rem 0;  
    background-color: theme-color( 'primary' ); 
    background-position: center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: theme-color( 'primary' );
        opacity: .8;
        pointer-events: none; 
    } 

    h3 {
        font-family: $font-family-base;
        color: white; 
    }

    p {  
        margin-bottom: 0; 

        @include media-breakpoint-down( md ) { 
            margin-bottom: 1.5rem; 
        }
    } 

    strong {
        display: inline-block;
        margin: 0 8px;
    }
}

.calltoaction {   

    &__text, 
    &__buttons {
        opacity: 0; 
        transition: all .7s ease-in-out;

        &[class*="fadeIn"] {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }

    &__text {
        transform: translate3d(-100px,0,0); 

        @include media-breakpoint-down( md ) {
            transform: translate3d(0,100px,0); 
        }
    }

    &__buttons {
        transform: translate3d(100px,0,0);
        
        @include media-breakpoint-down( md ) {
            transform: translate3d(0,50px,0);
            transition-delay: 300ms;
        }
    }

    &__button {
        margin: 0;
        padding: .8rem 2rem;
        background: transparent;
        color: theme-color( primary );
        transition: all .3s ease;
        border: 3px solid white;
        color: white; 
        border-radius: 99px;  

        &:hover {
            background: transparent; 
            color: white; 
            border-color: white;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 15px 20px;
            transform: translate3d(0,-5px,0);
        }

        @include media-breakpoint-down( xs ) {
            width: 100%;
            margin-bottom: 1rem; 
        }

        svg {
            margin-right: 8px;
        }
    }
}