.entry {
    &--portfolio {
        &.entry--single {
            .portfolio {
                &__meta {
                    padding: 20px 0;
                    margin-bottom: 2rem;

                    @include media-breakpoint-down(md) { 
                        padding: 5px;
                        margin-bottom: 1rem;
                    }
                }
            }

            .entry {
                &__title {
                    font-size: 1.8rem;
                    text-align: center; 
                }

                &__content {
                    padding: 4rem 0;
                }
            }
        }

        &.entry--archive {
            &:last-child {
                @include media-breakpoint-down(md) { 
                    margin-bottom: 0;
                }
            }
        }

        .entry {  
            &__media {
                &--placeholder {
                    background-color: #f3f3f3;
                }
            }

            &__content {
                h4,
                h5,
                h6 {
                    font-family: $font-family-sans-serif;
                    font-weight: 400;
                    margin-bottom: 0;
                    color: theme-color('primary');
                }
            }
        }
    }
}

.portfolio { 
    &__header {
        position: relative;
        padding: 4.5rem 0;
    
        @include media-breakpoint-down(md) { 
            padding: 2.5rem 0;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $gray-100;
            top: 0;
            bottom: 0;
            left: calc(-100vw / 2 + 100% / 2 );
            right: calc(-100vw / 2 + 100% / 2 );
            z-index: -1;
        }
    } 
}

.portfolio-meta {  
    &__item {
        &-label {
            font-size: .8rem;
            text-transform: uppercase;
        }

        &-value {  
            font-size: 1rem;
            font-weight: bold;
    
            &:not(.portfolio-meta__item-value--url) {
                color: $black;
            }

            &__svg {
                display: inline-block;
                margin-right: 5px;
    
                svg {
                    width: 23px;  
    
                    @include media-breakpoint-down(sm) { 
                        width: 17px; 
                    }
                }
            }
        } 
    }

    hr {
        height: 0;
        border-top: 1px solid $gray-300;
    }
}