.footer {
	background: #fff;
	color: #2e353e;
	border: none; 
	font-size: .9rem;
	padding-top: 1500px;

	&__copyright {
		display: inline-block;
		color: #777;
		margin-right: 15px;
	}

	&__bottom {
		.container {
			border-top: 1px solid #ededed;
		}

		.row {
			padding-top: 20px;
		}
	}

	&__newsletter,
	&__bottom {
		.row > div {
			margin-bottom: 25px;
		}
	}

	nav ul {
		li.nav-item {
			padding: 0 5px;
			
			@include media-breakpoint-up('md') {
				padding: 0 8px; 
			}

			&:last-child() {
				@include media-breakpoint-up('md') {
					padding-right: 0;

					.nav-link {
						padding-right: 0;
					}
				}
			}

			a.nav-link {
				background: transparent;
				font-size: 11px;
				font-weight: bold;
				color: #2e353e;
				padding: .3rem .6rem;
				line-height: 1;
				text-transform: uppercase;
				
				@include media-breakpoint-up('md') {
					font-size: 12px;
					padding: .5rem 1rem;
				}

				&:hover,
				&.active {
					color: theme-color( 'primary' );
				}
			}
		}
	}
}

.footer-newsletter {
	&__title {
		font-size: 1.5em;
		font-weight: 400;
	}
}

.newsletter {
	.form-control {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		height: auto; 

		&.is-invalid {
			background-position: 100% calc(.75em + .1875rem);

			@include media-breakpoint-down(sm) {
				background-position: 100% calc(.70em + .1875rem);
			}
		}
	}

	&__form {
		&.was-received {
			.invalid-feedback,
			.valid-feedback {
				display: block;
				opacity: 1;
			}
		}
	}

	&__button {
		border-color: #66b7ff;
		border-top-right-radius: 50px!important;
		border-bottom-right-radius: 50px!important;
		background: linear-gradient(to left, #39c1ff 0%, #0088cc 100%);
		padding: 8px 42px;
		font-size: 12px;
		font-weight: bold;
		color: white;

		@include media-breakpoint-down('xs') {
			padding: 11px 20px;
		}

		&:hover,
		&:active,
		&:focus {
			border-color: #66b7ff!important;
			background: linear-gradient(to left, #39c1ff 0%, #0088cc 100%)!important;
		}
	}

	div[class*='-tooltip'] {
		bottom: calc( 100% + 10px );
		top: auto;
	}
}

.social {
	&__icon {
		&--facebook {
			color: #3B5998;
			fill: #3B5998;
		}

		&--linkedin {
			color: #0077b5;
			fill: #0077b5;
		}

		.svg-inline--fa {
			display: block;
			width: 20px;
			height: 20px;
		}
	}
}