.header {
	background-color: $gray-100; 
	
	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		background-color: transparent;
	} 

	&--home {
		.header {
			&__bar { 
				@include media-breakpoint-down(md) {
					margin-top: 10px;
				}
			}

			&__cta {
				&-btn {
					@include media-breakpoint-down(md) {
						margin-left: 2px;
					}
				}
			}
		}
	}
	
	&--white {
		.header {
			&__cta {
				&-btn {
					border-color: white;
					color: white;

					&:hover {
						background-color: white;
						color: theme-color( 'primary' );
					}
				}
			}
		}
	}

	&--blue {
		background-color: #fbfbfb;
		border-bottom: 1px solid $gray-100;
		z-index: 500;

		.nav-pills {
			.nav-link {
				color: theme-color( 'primary' );

				&:hover,
				&.active {
					&::after {
						width: 100%;
						border-color: theme-color( 'primary' );
					}
				}
			}
		}

		.header-login {
			&--is-auth {
				.header-login {
					&__btn {
						&[aria-expanded="true"] {
							img {
								box-shadow: 0 0 0 3px theme-color( 'primary' );
							}
						}
					}
				}
			}

			&__btn {
				color: $gray-400;

				&:hover, 
				&:focus,
				&:active {
					color: $gray-400!important;
				}

				img {
					box-shadow: 0 0 0 3px $black;
				}
			}
			
			&__icon-svg {
				border-color: $gray-400;
			}
		}
	}

	&__cta {  
		@include media-breakpoint-down(xs) {
			flex-grow: 0;
		}

		&-btn {
			border: 2px solid theme-color( 'primary' );
			border-radius: 50px;
			box-shadow: none;
			color: theme-color( 'primary' );

			@include media-breakpoint-down(xs) {
				padding: .45rem;
    			line-height: 1;
			}

			&:hover { 
				background-color: theme-color( 'primary' );
				color: white;
			}

			span {
				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}

		.svg-inline--fa {
			margin-right: 10px;

			@include media-breakpoint-down(xs) {
				margin-right: 0;
			}
		}
	}
}

@import 'header-login';
