.header-login {
    &__btn {
        position: relative;
        padding: 0!important;
        border: none;
        border-radius: 0;
        background-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
        font-size: 1.1rem!important;
        width: 41px;
        height: 41px;
        color: white;
        margin-left: 5px;

        &:hover,
        &:active,
        &:focus {
            color: initial;
        }

        @include media-breakpoint-down(sm) {
            width: 34px;
            height: 34px;
            font-size: 1rem!important;
        }  

        & + .dropdown-menu { 
            border: 0 !important;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            transition: opacity 0.5s, transform 0.2s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
            min-width: 175px;

            &.show {
                transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            }
        }
    }

    /* Icon */
    &__icon {
        &-svg {  
            display: block;
            width: 100%;
            height: 100%;
            
            span.fa-layers {
                display: block;
                width: inherit;
                height: inherit;
            }
        }
    }

    /* Dropdowns */
    .dropdown {
    &-divider {
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    &-item {
        color: #222;
        padding: 0.8rem 1.5rem;
        font-weight: bold;
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.1538;
        text-transform: uppercase;
        cursor: pointer;

        span {
            color: inherit;
            font-weight: bold;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            text-transform: inherit;
        }

        &:active {
            color: white!important;
            outline: none;

            span {
                color: white;
            } 
        }
    }

    &-header {
            font-size: 1rem;
            font-weight: 600;
            color: #222;
        }
    }
}

/* Logout */
.header-logout {
    &__svg,
    &__label {
        display: inline-block;
        vertical-align: middle;
    }

    &__svg {
        margin-right: 10px;
        
        svg { 
            width: 15px;
            height: 15px;
        }
    }
}