.header {
	position: relative;
	background-color: $gray-100;
	
	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		background-color: transparent;
	}  
	
	&--white {
		.header {
			&-cta {
				border-color: white;
				color: white;

				&:hover, 
				&:focus,
				&:hover {
					background-color: white;
					color: theme-color( 'primary' );
				}
			}

			&-login {  
				color: white;
	
				&:hover, 
				&:focus,
				&:active {
					color: white;
					opacity: .8;
				} 
			}
		}
	}

	&--blue {
		background-color: #fbfbfb;
		border-bottom: 1px solid $gray-100;
		z-index: 100;

		.nav-pills {
			.nav-link {
				color: theme-color( 'primary' );

				&:hover,
				&.active {
					&::after {
						width: 100%;
						border-color: theme-color( 'primary' );
					}
				}
			}
		}

		.header-login {
			color: $gray-500;

			&:hover, 
			&:focus,
			&:active {
				color: theme-color( 'primary' )!important;
			} 
			
			&--is-auth {
				color: theme-color( 'primary' );
				
				.header-login {
					&__mask {
						div {
							box-shadow: inset 0 0 3px 3px theme-color( 'primary' );
						}
					}
				}
			}

			&__mask {
				div {
					box-shadow: inset 0 0 3px 3px $gray-500;
				}
			}
		}
	}

	&__cta, 
	&__login {
		margin: 6px 0;

		@include media-breakpoint-up(lg) {
			margin: 8px 0;
		}
	}

	&__social {
		max-height: 55px;
		overflow: hidden;
	}
}

.header-cta { 
	border: 2px solid theme-color( 'primary' );
	border-radius: 50px;
	box-shadow: none;
	color: theme-color( 'primary' );

	@include media-breakpoint-down(xs) {
		padding: 0;
		width: 2.15rem;
		height: 2.15rem;
		line-height: 1;
	}

	&:hover { 
		background-color: theme-color( 'primary' );
		color: white;
	}

	span {
		@include media-breakpoint-down(xs) {
			display: none;
		}
	}  

	.svg-inline--fa {
		margin-right: 10px;

		@include media-breakpoint-down(xs) {
			font-size: 1.2rem;
			margin-left: -2px;
			margin-right: 0;
		}
	}
}

@import 'header-login';
