body:not(.swal2-shown),
body.swal2-toast-shown {
	padding-right: 0 !important;
	  
	.header--absolute {
		right: 0;
	}
} 

.swal2-popup {
	padding: 20px;
	border-radius: 0;

	&.swal-contact {
		.swal2-title {
			margin-bottom: 1.5rem;

			@include media-breakpoint-down(sm) {
				font-size: 1.3rem;
			} 
		}

		.your-name {
			.form-control {
				@include media-breakpoint-down(sm) {
					margin-bottom: 1rem;
				} 
			}
		}
	}
}
