@import "./../abstracts/bootstrap-required";

.portfolio-prev-next {
    position: relative;

    &__item {
        position: relative;
        display: inline-block;

        &--prev {
            svg {
                margin-right: 15px;
            }
        }

        &--next {
            svg {
                margin-left: 15px;
            }
        }

        &--disabled {
            pointer-events: none;

            .portfolio-prev-next__title,
            .portfolio-prev-next__subtitle,
            .svg-inline--fa {
                color: $gray-400!important;
            } 
        }

        .svg-inline--fa {
            color: theme-color( 'primary' );
        }
    
        .download-loader {
            position: absolute;
            opacity: .90;
    
            & > div {
                height: 100%;
                max-width: 45px;
    
                svg {
                    height: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    &__title {
        font-size: 1rem;
    }

    &__subtitle {
        font-size: .9rem;
        color: theme-color( 'primary' );
    }

    &__breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;

        .list-inline-item {
            &.active {  
                &::before {
                    content: "\00BB";
                    display: inline-block;
                    text-align: left;
                    width: 15px;
                }
            }
        }
    }

    &__all {
        font-size: .9rem;
        color: $black;
    }

    & + .container {
        main {
            padding-top: 0;
        }
    }
}