/* SVG Icons */
.svg-icon {
	display: block;
	width: 100%;
	height: 100%;

	&--header {
		fill: #fff;
		width: 25px;
		height: 25px;
	}
	
	&--about-section {
		margin-right: 10px;
		fill: #08c;
		width: 25px;
		height: 25px;

		@include media-breakpoint-down(sm) {
			width: 20px;
			height: 20px;
		}

		@include media-breakpoint-down(xs) {
			width: 28px;
			height: 28px;
		}
	}

	&--loader {
		fill: white;
		animation: spin 800ms infinite linear;
	}

	&--social-footer {
		width: 20px;
		height: 20px;
	}
} 

.swal2-close {
	outline: none!important;
}