body.swal2-show:not(.swal2-toast-shown) {
  padding-right: 20px !important;
}

body.swal2-toast-shown {
  padding-right: 0 !important;
}

.swal2-container {
  padding: 20px;
}

.swal2-popup {
  border-radius: 0;

  .swal2-styled.swal2 {
    &-confirm {
      border-color: #66b7ff;
      border-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background: linear-gradient(to left, #39c1ff 0%, #0088cc 100%);
      padding: 13px 42px;

      &:hover {
        background-image: linear-gradient(
          to left,
          #39c1ff 0%,
          #0088cc 100%
        ) !important;
      }

      &:focus {
        box-shadow: none;
      }

      @media (max-width: 576px) {
        font-size: 0.9rem;
      }
    }
  }

  &.swal-contact {
    .swal2 {
      &-actions {
        align-items: flex-start;
        justify-content: left;
        //margin: 0;

        .swal2-confirm {
          margin-left: 0;
        }
      }

      &-header {
        border-bottom: 1px solid #fafafa;
      }

      &-title {
        justify-content: center;
        width: 100%;
        font-size: 1.5rem;

        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
      }

      &-input,
      &-textarea {
        border-radius: 0;
        border: 1px solid #fefefe;
        padding: 0.5rem;
        height: auto;
        background-color: #fafafa;
        font-size: 1rem !important;

        @media (max-width: 576px) {
          font-size: 0.8rem;
        }
      }

      &-textarea {
        min-height: 120px;
      }
    }

    form p {
      @media (max-width: 576px) {
        font-size: 13px;
      }
    }
  }
}
