.about-skills {
	position: relative;
	padding: 4.5rem 0 0;

	& > .container { 
		margin-top: -8rem;
		background: #FFF;
		border-radius: 7px; 
		box-shadow: 0px -10px 15px -3px rgba(153, 153, 153, 0.1);
		padding: 4rem 3rem 0;
		z-index: 0;

		@include media-breakpoint-up(lg) {
			max-width: 1110px;
		}

		@include media-breakpoint-down(sm) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__headline,
	&__description {
		display: block;
		opacity: 0;
		transition: all .3s ease-in-out;
		animation-duration: 750ms;

		&.maskUp {
			opacity: 1;
		}
	}

	&__pre {
		color: theme-color( primary );
		font-weight: bold;
	}
}

/* A single Skill Box */
.skill-box {
	opacity: 0;
	transform: translate3d(0,30px,0);
	transition: all .5s ease-in-out;
	will-change: opacity, transform;
	transition-delay: var(--animation-delay);

	&--animated {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	&__headline {
		font-size: .9rem;
		text-transform: uppercase;
	} 

	&__icon {
		font-size: 1.55rem;
		color: theme-color( 'primary' );
		
		svg {
			fill: theme-color( 'primary' );
		}
	}
}