/* shadows-into-light-regular - latin */
@font-face {
    font-family: "Shadows Into Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ShadowsIntoLight.eot'); 
    src: local('Shadows Into Light'), local('ShadowsIntoLight'),
         url('../fonts/ShadowsIntoLight.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/ShadowsIntoLight.woff2') format('woff2'), 
         url('../fonts/ShadowsIntoLight.woff') format('woff'), 
         url('../fonts/ShadowsIntoLight.ttf') format('truetype'), 
         url('../fonts/ShadowsIntoLight.svg#ShadowsIntoLight') format('svg'); 
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
        url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/raleway-v14-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Raleway Light'), local('Raleway-Light'),
        url('../fonts/raleway-v14-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway-v14-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway-v14-latin-100.woff') format('woff'), /* Modern Browsers */
        url('../fonts/raleway-v14-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway-v14-latin-100.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/raleway-v12-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Raleway Light'), local('Raleway-Light'),
        url('../fonts/raleway-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway-v12-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/raleway-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway-v12-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/raleway-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('../fonts/raleway-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway-v12-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/raleway-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway-v12-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/raleway-v12-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Raleway Black'), local('Raleway-Black'),
        url('../fonts/raleway-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/raleway-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/raleway-v12-latin-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/raleway-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/raleway-v12-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

// Setup  
@import "abstracts/bootstrap-required";

// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/transitions"; 
//@import "../../../node_modules/bootstrap/scss/badge";
//@import "../../../node_modules/bootstrap/scss/pagination";
//@import "../../../node_modules/bootstrap/scss/utilities";
//@import "../../../node_modules/bootstrap/scss/popover";
//@import "../../../node_modules/bootstrap/scss/navbar";
//@import "../../../node_modules/bootstrap/scss/print";
//@import "../../../node_modules/bootstrap/scss/images";
//@import "../../../node_modules/bootstrap/scss/breadcrumb";
//@import "../../../node_modules/bootstrap/scss/carousel";
//@import "../../../node_modules/bootstrap/scss/close";
//@import "../../../node_modules/bootstrap/scss/jumbotron";
//@import "../../../node_modules/bootstrap/scss/list-group";
//@import "../../../node_modules/bootstrap/scss/media";
//@import "../../../node_modules/bootstrap/scss/modal";
//@import "../../../node_modules/bootstrap/scss/progress";
//@import "../../../node_modules/bootstrap/scss/spinners";
//@import "../../../node_modules/bootstrap/scss/toasts";
//@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/utilities/align";
@import "../../../node_modules/bootstrap/scss/utilities/display";
@import "../../../node_modules/bootstrap/scss/utilities/clearfix";
@import "../../../node_modules/bootstrap/scss/utilities/flex";
@import "../../../node_modules/bootstrap/scss/utilities/float";
@import "../../../node_modules/bootstrap/scss/utilities/screenreaders";
@import "../../../node_modules/bootstrap/scss/utilities/spacing";
@import "../../../node_modules/bootstrap/scss/utilities/text";
@import "../../../node_modules/bootstrap/scss/utilities/shadows";
@import "../../../node_modules/bootstrap/scss/utilities/sizing"; 
@import "../../../node_modules/bootstrap/scss/utilities/borders";
//@import "../../../node_modules/bootstrap/scss/utilities/position";
//@import "../../../node_modules/bootstrap/scss/utilities/visibility";
//@import "../../../node_modules/bootstrap/scss/utilities/background";
//@import "../../../node_modules/bootstrap/scss/utilities/embed";
//@import "../../../node_modules/bootstrap/scss/utilities/overflow";

/* Base */
@import "base/base";

/* Vendor */
@import "abstracts/variables-swal2";
@import "../../../node_modules/sweetalert2/src/sweetalert2.scss";
@import "../../../node_modules/splitting/dist/splitting.css";
@import "../../../node_modules/splitting/dist/splitting-cells.css";

/* Helpers */
@import "helpers/helpers";
@import "helpers/animations"; 

/* Custom Common Code */
@import "components/header.scss";
@import "components/menu.scss"; 
@import "components/entry.scss";
@import "components/preloader.scss";
@import "components/page-intro.scss";
@import "components/about-me.scss";
@import "components/experience.scss";
@import "components/skills.scss"; 
@import "components/calltoaction.scss"; 
@import "components/client-logos.scss";
@import "components/modals.scss"; 
@import "components/footer.scss"; 
@import "components/svg-icons.scss"; 
