@import "./../abstracts/bootstrap-required";

.about-me {
	padding-top: 108px;

	&__intro {
		overflow: hidden;

		@include media-breakpoint-up( 'lg' ) {
			overflow: visible;
		}
	}

	&__image {		
		&-wrap {
			position: relative;  
			perspective: 650px;
			perspective-origin: center;
			z-index: 50;
		}
	}

	&__profile {
		position: relative;
		display: block;
		width: 100%;
		background: white;
		border: 10px solid #fff;
		margin-bottom: 2rem; 
		will-change: transform;

		@include media-breakpoint-up( 'lg' ) { 
			position: absolute; 
			top: -70px;
			z-index: 15; 
		} 

		&:hover {
			svg {
				stroke-dashoffset: 0;
			}
		}

		div {
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			max-width: 100%;
			height: 0;
			padding-bottom: 115%;
			background-size: cover;
			background-position: center;
			transition: opacity 0.6s ease-in-out;
			transform: translate3d(-50%, -50%, 0);

			&.shown {
				position: relative;
				display: block;
				opacity: 1;
				top: 0;
				left: 0;
				transform: translate3d(0, 0, 0);
			}
		}

		&-decoration {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #fff; 
			overflow: hidden;
			transform: scale3d(1.3,1.05,1);
			stroke-dasharray: 1270;
			stroke-dashoffset: 1270;
			transition: stroke-dashoffset 0.7s; 
			pointer-events: none;
		}
	}

	&__headline {
		letter-spacing: -2px;
		text-shadow: 4px 4px 0.7rem rgba(0,0,0,0.35); 
		@include font-size( 3.5rem )
	}

	&__links {
		&:after {
			content: "";
			position: absolute;
			right: 0;
			height: 0;
			width: 75vw;
			border-bottom: 1px solid lightgray;
			z-index: 10;

			@media (max-width: 991px) {
				width: 100%;
			}
		}

		.col-lg-2 {
			border-left: 1px solid lightgray;
			border-right: 1px solid lightgray;
		}
	}

	&__link.btn,
	&__link {
		display: block;
		width: 100%;
		padding: 15px 0;
		letter-spacing: -0.5px;
		line-height: 1.3;
		background-color: transparent;
		text-decoration: none;
		border: none;
		color: #2e353e;
		outline: none; 
		@include font-size( 1.2rem );

		@include media-breakpoint-up( 'lg' ) {
			padding: 30px 0;
		}

		&:focus,
		&:active,
		&:hover {
			background-color: transparent;
			border-color: transparent;
			box-shadow: none;
			color: #2e353e;
		} 

		.svg-inline--fa {
			@include media-breakpoint-up( 'sm' ) {
				margin-right: 10px;
				width: 25px;
				height: 25px;
			}
		}

		span {
			vertical-align: middle;

			@include media-breakpoint-down(sm) {
				font-size: 0.8rem;
			}

			@media (max-width: 576px) {
				display: none;
			}
		}
	}

	&__content {
		position: relative;
		padding: 5rem 0 3rem;

		@media (max-width: 991px) {
			padding-top: 3.5rem;
		}

		@media (max-width: 576px) {
			padding: 2rem 0 2rem;
		}

		&-text { 
			position: relative;
			margin-bottom: 40px;
			max-height: 135px;
			overflow: hidden;
			text-overflow: ellipsis;
			overflow-wrap: break-word; 
			padding-bottom: 35px;

			&--opened {
				max-height: 100%;
				overflow: visible; 

				&::after {
					content: none!important;
				}
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				bottom: 0;  
			}

			&::before { 
				width: 100%;
				border-top: 1px solid lightgray;
				transform: translateY(-25px);
				z-index: 10;
			}

			&::after { 
				bottom: -5px;
				left: 0;
				height: 75px;
				width: 100%; 
				z-index: 5;
				background: linear-gradient(to top, rgba(255,255,255,1) 60%,rgba(255,255,255,.7) 80%,rgba(255,255,255,.2) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
			}

			mark {
				background-color: transparent;
				text-decoration: line-through;
			}
		}

		&-more {
			font-weight: 400;
			z-index: 10;
		}
	}
}

.about-experience {
	position: relative;
	overflow: hidden;
	padding: 2rem 0 4rem;
	background-color: #ecf1f7;
	
	@include media-breakpoint-up('sm') {
		padding: 3rem 0 5rem;
	}

	&__headline {
    	font-size: 1.8em;
		font-weight: 900;
		line-height: 42px;
		margin-bottom: 17px;
	}
}

.timeline {
	position: relative;
	width: calc(100% - 55px); // 15px right padding
    margin: 0 0 0 40px;
	padding: 0;

	@include media-breakpoint-up('sm') {
		width: calc(100% - 65px); // 15px right padding
    	margin: 0 0 0 50px;
	}

	@include media-breakpoint-up('md') {
		width: calc(100% - 65px); // 15px right padding
    	margin: 0 0 0 50px;
	}

	&__bar {
		position: absolute;
		background-color: $gray-400;
		width: 3px;
		left: -36px;
		top: 110px;
		bottom: 110px;
		z-index: 0;

		@include media-breakpoint-up('sm') {
			left: -39px;
		}

		&-inner {
			background-color: #1b1c26;
			width: 100%;
		}
	}

	&__boxes {
		perspective: 1200px;
	}
}

.timeline-box {
	position: relative;
	margin: 15px 0 25px;
	perspective: 1200px;
	
	@include media-breakpoint-up(sm) {
		margin: 15px 0 30px;
	}

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 50%;
		left: -34px;
		height: 8px;
		width: 8px;
		margin-left: -4px;
		background-color: $gray-400;
		border-radius: 50%;
		box-shadow: 0 0 0 3px #fff, 0 0 0 6px $gray-400;
		transform: translateY(-50%);
		transform-origin: center;
		transition: transform .3s ease-in-out;

		@include media-breakpoint-up(sm) {
			left: -38px;
		}
	}
	
	&--animated {
		&::before {
			background-color: #1b1c26;
			box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1b1c26;
		}
	}

	&__meta {
		background-color: #0088cc;
		color: #fff;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: auto;
			bottom: 13px;
			left: -5px;
			height: 10px;
			width: 10px;
			z-index: 0;
			background: #0088cc;
			border: none;
			transform: rotate(45deg);
			
			@include media-breakpoint-up(sm) {
				bottom: 30px;
			}

			@include media-breakpoint-up(md) {
				left: -7px;
				height: 14px;
				width: 14px;
				transform: translateY(-50%) rotate(45deg);
				top: 50%;
				bottom: auto;
			}
		}

		&-range {
			display: flex;

			&__from,
			&__to {
				font-size: .65rem;
				line-height: 1.3;

				&-date {
					margin-left: 10px;

					@include media-breakpoint-up( 'sm' ) {
						display: block;
						margin-left: 0;
						font-size: 1rem;
					}
				}
			}	
		}

		&-duration {
			font-size: .6rem;
		}

		&-company {
			&__name {
				font-size: .85rem;
				margin-bottom: 0;

				@include media-breakpoint-up('sm') {
					font-size: 1.15rem;
				}
			}
			
			&__loc {
				display: block;
				font-size: .6rem;
			}
		}
	}

	&__animation {
		transition: all .5s ease-in-out;
		opacity: 0;
		box-shadow: 0px 12px 90px -10px rgba(171, 191, 216, 0.6);
		transform: translateX(35px) rotateX(0deg);
		
		@include media-breakpoint-up(sm) {
			transform: translate3d(0,0,0) rotateX(-90deg);
		}

		&--ended {
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	.row {
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}
}

/* Skills Section */
.about-skills {
	position: relative;

	& > .container { 
		margin-top: -6rem;
		background: #FFF;
		border-radius: 7px; 
		box-shadow: 0px -10px 15px -3px rgba(153, 153, 153, 0.1);
		padding: 4rem 3rem 0;
		z-index: 0;
		overflow: hidden;

		@include media-breakpoint-up( 'lg' ) {
			max-width: 1110px;
		}

		@include media-breakpoint-down( 'sm' ) {
			margin-top: -5rem;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__headline,
	&__description {
		display: block;
		opacity: 0;
		transition: all .3s ease-in-out;
		animation-duration: 750ms;

		&.maskUp {
			opacity: 1;
		}
	}

	&__pre {
		font-family: "Shadows Into Light";

		.char {
			display: inline-block;
			opacity: 0;
			transform: translateY(calc(-.2em * var(--char-index)));
			transition: transform .3s cubic-bezier(.3,0,.3,1), opacity .3s linear;
			transition-delay: calc(20ms + (30ms * var(--char-index)));
		}

		&--animated {
			.char {
				opacity: 1;
				transform: none;
			}
		}
	}
}

/* A single Skill Box */
.skill-box {
	opacity: 0;
	transform: translate3d(0,30px,0);
	transition: all .5s ease-in-out;
	will-change: opacity, transform;
	transition-delay: var(--animation-delay);

	&--animated {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}