.page-intro {
    position: relative;
	padding: 90px 0 40px;
    z-index: 1;
	
	@include media-breakpoint-up( 'sm' ) { 
		padding: 130px 0 80px;
	}
}

.main {
    &--is-loading {
        min-height: 600px;
    }

    &--single {
        .entry {
            &--empty {
                width: 100%;
                min-height: 300px;
                margin-bottom: 0;

                svg {
                    min-height: inherit;
                    height: inherit;
                    width: inherit;
                }
            }
        }
    }

    &--archive {
        .entry:not(.entry--empty) {
            margin-bottom: 20px;
        }
    }
}

.entry {
    &--empty {
        position: relative;
        margin-bottom: 50px;

        .download-loader {
            position: relative;
            padding-bottom: 56.5%;
            margin-bottom: 15px;
            background-color: #f5f5f5;
        }
    }
}

.content {
    & + .footer {
        padding-top: 0;
    }
} 