@import "./../abstracts/bootstrap-required";  

.portfolio {
    position: relative;
    
    &.entry--single { 

        .portfolio {
            &__meta {
                padding: 5px 0;
                
                @include media-breakpoint-up(sm) { 
                    padding: 20px 0;
                    margin-bottom: 2rem;
                }
            }

            &__title {
                font-size: 1.8rem;
            }

            &__content {
                h4,
                h5,
                h6 {
                    font-family: $font-family-sans-serif;
                    font-weight: 400;
                    margin-bottom: 0;
                    color: theme-color( 'primary' );
                }

                p { 
                    & + h4,
                    & + h5, 
                    & + h6 {
                        padding-top: 1rem;
                    }
                }
            } 
        } 
    } 

    &__header {
        position: relative;
        padding: 4.5rem 0;
        background-color: $gray-100;
    
        @include media-breakpoint-down(md) { 
            padding: 2.5rem 0 1.5rem;
        }
    }  
} 

.portfolio-prev-next {
    position: relative;

    &__item {
        position: relative;
        display: inline-block;

        &--prev {
            svg {
                margin-right: 15px;
            }
        }

        &--next {
            svg {
                margin-left: 15px;
            }
        }

        &--disabled {
            pointer-events: none;

            .portfolio-prev-next__title,
            .portfolio-prev-next__subtitle,
            .svg-inline--fa {
                color: $gray-400!important;
            } 
        }

        .svg-inline--fa {
            color: theme-color( 'primary' );
        }
    
        .download-loader {
            position: absolute;
            opacity: .90;
    
            & > div {
                height: 100%;
                max-width: 45px;
    
                svg {
                    height: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    &__title {
        font-size: 1rem;
    }

    &__subtitle {
        font-size: .9rem;
        color: theme-color( 'primary' );
    }

    &__breadcrumbs {
        list-style: none;
        margin: 0;
        padding: 0;

        .list-inline-item {
            &.active {  
                &::before {
                    content: "\00BB";
                    display: inline-block;
                    text-align: left;
                    width: 15px;
                }
            }
        }
    }

    &__all {
        font-size: .9rem;
        color: $black;
    }

    & + div[class*="container"] {
        main {
            min-height: calc( 100vh + 150px );
            padding-top: 0;
        }
    } 
}

.portfolio-meta {  
    &__item {
        &-label {
            font-size: .8rem;
            text-transform: uppercase;
        }

        &-value {  
            font-size: 1rem;
            font-weight: bold;
    
            &:not(.portfolio-meta__item-value--url) {
                color: $black;
            }

            &.loading {
                position: relative; 
                opacity: .5;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -8px;
                    right: -8px;
                    bottom: 0;
                    background-color: rgba( #000000, .1);
                }
            }

            &__svg {
                display: inline-block;
                margin-right: 5px;
    
                svg {
                    width: 23px;  
    
                    @include media-breakpoint-down(sm) { 
                        width: 17px; 
                    }
                }
            }

            img {
                max-width: 100%;
                max-height: 55px;
            }
        } 
    }

    hr {
        height: 0;
        border-top: 1px solid $gray-300;
    }
}

.portfolio-content {
    .lead {
        font-weight: 400;
    }

    .fb-comments {
        margin-left: -8px!important;
        margin-right: -8px!important;
    }
}

.social--facebook {
    display: block;
}

.accordion {
    .card {
        margin-bottom: .5rem;
        border: 0;

        &-header {
            border: 0;

            .btn {
                text-decoration: none;
                background-color: $gray-100;
                border: 1px solid $gray-100;
                border-radius: 5px;
                color: $dark;

                &.is-active {
                    background-color: theme-color( 'primary' );
                    color: white;

                    svg {
                        transform: translate3d(-2px,0,0) rotate(-180deg);
                    }
                }
            }
        }

        &-body {
            padding: 1.5rem 0;
        }
    }
}