@import "./../abstracts/bootstrap-required";

.header {
    &--portfolio {
        .nav-pills {
			.nav-link {
				color: white;

				&:hover,
				&.active {
					&::after {
						width: 100%;
						border-color: white;
					}
				}
			}
		}

		.header {
            &-login {
                &--is-auth {
                    .header-login {
                        &__btn {
                            &[aria-expanded="true"] {
                                img {
                                    box-shadow: 0 0 0 3px white;
                                }
                            }
                        }
                    }
                }
    
                &__btn {
                    color: white;
    
                    &:hover, 
                    &:focus,
                    &:active {
                        color: white!important;
                    }
    
                    img {
                        box-shadow: 0 0 0 3px $white;
                    }
                }
                
                &__icon-svg {
                    border-color: $white;
                }
            } 

            &__cta {
                &-btn {
                    border-color: white;
                    color: white;

                    &:hover {
                        color: $black;
                        background-color: white;
                    }
                }
            }
        }
	}
}

.content {
    &--projects { 
        background-color: darken( $gray-900, 8% );
        
        .container {
            max-width: 100%;
        }
    }
}

.main--archive {
    height: 100vh;
    min-height: 640px;

    .portfolio { 
        position: absolute;
        pointer-events: none;
        width: 100%;
        font-size: 16px;
        display: flex; 
        flex-flow: row wrap;
        justify-content: space-between;
        
        @include media-breakpoint-up(lg) {
            padding: 1rem;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &--current {  
            pointer-events: auto; 
            z-index: 100; 
            opacity: 1;
        }

        & > * {
            flex: 1 1 100%;
        }

        .entry {
            &__title {
                position: relative; 
                margin: 0; 
                font-weight: 700;  
                font-style: normal; 
                line-height: 1; 
                letter-spacing: -0.25vw; 
                color: $white; 
                -webkit-text-stroke: 1px $white;  
                text-stroke: 1px $white; 
                z-index: 100;     

                @include media-breakpoint-up(lg) {
                    grid-column-end: span 2; 
                    height: 10vw;    
                    font-size: 7vw;
                }

                * {
                    color: inherit;
                }

                &-inner {   
                    @include media-breakpoint-up(lg) {
                        position: absolute;     
                        will-change: transform; 
                    }

                    &:last-child {
                        text-shadow: 4px 4px 0.7rem rgba(0, 0, 0, 0.35);
                    }

                    &:not(:last-child) { 
                        position: absolute;
                        display: none;

                        @include media-breakpoint-up(lg) {
                            display: block;
                        }

                        > * {
                            /* text-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.25); */
                            -webkit-text-fill-color: transparent; 
                            -webkit-text-stroke: 1px $white; 
                            text-fill-color: transparent; 
                            text-stroke: 1px $white; 
                            color: transparent; 
                            opacity: 0.7;
                        }
                    }
    
                    .char {   
                        transform: translate3d(0,0,0); 
                    }
                }
            }

            &__content {  
                color: $white;

                @include media-breakpoint-up(lg) { 
                    font-size: 1vw;
                }
            }

            &__media {
                position: relative;
                box-shadow: none;
                overflow: hidden;
                flex: 0 0 48%; 
                filter: blur(1.5px);

                &--main {  
                    flex: 0 0 100%;
                    filter: none;

                    .entry__media-figure__src {
                        padding-bottom: 55%; 

                        @include media-breakpoint-up(lg) {  
                            width: calc(100% + 40px); 
                            height: calc(100% + 40px);	 
                            top: -20px; 
                            left: -20px;  
                            transform: translate3d(0,0,0); 
                            will-change: transform; 
                            padding-bottom: 0;
                        } 
                    }
                } 
    
                &-inner {
                    width: 100%; 
                    height: 100%; 
                    position: relative; 
                    overflow: hidden;
                    min-height: 0; 
                }
    
                &-figure__src { 
                    position: relative;
                    min-height: 0;
                    height: 0;
                    padding-bottom: 100%; 
                    background-repeat: no-repeat; 
                    background-position: 50% 50%; 
                    background-size: cover;
                    /* filter: grayscale(1); */

                    @include media-breakpoint-up(lg) {  
                        position: absolute; 
                        width: 100%;  
                        height: 100%; 
                        padding-bottom: 0;
                        top: 0; 
                        left: 0; 
                        min-height: 1px;
                    } 

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        background-color: rgba(0, 0, 0, .1);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .main--archive { 
        padding: 0;

        .portfolio {  
            display: grid;  
            padding: 0;
            --gridgap: 0px; 
            --gridwidth: 100%; 
            --gridheight: 100%; 
            width: var(--gridwidth); 
            height: var(--gridheight); 
            grid-template-rows: repeat(20,calc(var(--gridheight) / 20 - var(--gridgap))); 
            grid-template-columns: repeat(20,calc(var(--gridwidth) / 20 - var(--gridgap))); 
            grid-gap: var(--gridgap); 
            align-content: center; 
            justify-content: center; 
            overflow: hidden;  
    
            &--layout-1 {
                .entry {
                    &__media {  
                        &--main {
                            grid-row-start: 1;
                            grid-row-end: span 20;
                            grid-column-start: 11;
                            grid-column-end: span 7;
                        }
            
                        &:nth-child(2) {
                            grid-row-start: 1; 
                            grid-column-start: 8;
                        }
            
                        &:nth-child(3) {
                            grid-row-start: 16; 
                            grid-column-start: 18;
                        }
                        
                        &:nth-child(4) {
                            grid-row-start: 14; 
                            grid-column-start: 1;
                            grid-row-end: span 7;
                            grid-column-end: span 4; 
                        }
                    }
        
                    &__title { 
                        grid-row-start: 12; 
                        grid-column-start: 5;
                    } 

                    &__content {
                        grid-row-start: 6;
                        grid-column-start: 5;
                        text-align: right;
                    }
                }
            }   

            &--layout-2 {
                .entry {
                    &__media {   
                        &--main {
                            grid-column-start: 3;
                        }
            
                        &:nth-child(2) {
                            grid-row-start: 1; 
                            grid-column-start: 10;
                        }
            
                        &:nth-child(3) {
                            grid-row-start: 8; 
                            grid-column-start: 19; 
                            grid-row-end: span 2;
                            grid-column-end: span 1;
                        }
                        
                        &:nth-child(4) {
                            grid-row-start: 16; 
                            grid-column-start: 18;  
                        }
                    }
        
                    &__title { 
                        grid-row-start: 7; 
                        grid-column-start: 9;
                    } 

                    &__content {
                        grid-row-start: 11; 
                        grid-column-start: 10;
                    }
                }
            }   

            &--layout-3 {
                .entry {
                    &__media {   
                        &--main {
                            grid-column-start: 1;
                        }
            
                        &:nth-child(2) {
                            grid-row-start: 1; 
                            grid-column-start: 8;
                        }
            
                        &:nth-child(3) {
                            grid-row-start: 13; 
                            grid-column-start: 16;
                            grid-row-end: span 3; 
                            grid-column-end: span 2;
                        }
                        
                        &:nth-child(4) {
                            grid-row-start: 16; 
                            grid-column-start: 18;  
                        }
                    }
        
                    &__title { 
                        grid-row-start: 13; 
                        grid-column-start: 6;
                    } 

                    &__content {
                        grid-row-start: 7; 
                        grid-column-start: 8;
                    }
                }
            }   

            &--layout-4 {
                .entry {
                    &__media {   
                        &--main {
                            grid-column-start: 14;
                        }
            
                        &:nth-child(2) {
                            grid-row-start: 1; 
                            grid-column-start: 11;
                        }
            
                        &:nth-child(3) {
                            grid-row-start: 6; 
                            grid-column-start: 8;
                            grid-row-end: span 5; 
                            grid-column-end: span 3;
                        }
                        
                        &:nth-child(4) {
                            grid-row-start: 1; 
                            grid-column-start: 5;  
                        }
                    }
        
                    &__title { 
                        grid-row-start: 16; 
                        grid-column-start: 9;
                    } 

                    &__content {
                        grid-row-start: 15; 
                        grid-column-start: 2;
                    }
                }
            }   
    
            .entry {
                &__media--box { 
                    grid-row-end: span 5; 
                    grid-column-end: span 3;
                }
    
                &__title { 
                    grid-row-end: span 3; 
                    grid-column-end: 21; 
                }
    
                &__content {
                    padding: 1.5rem;
                    grid-row-end: span 7;
                    grid-column-end: span 6;
                }

                &__media {
                    width: auto; 
                    height: auto; 
                    max-width: none; 
                    margin: 0;
                    grid-row-end: span 5;
                    grid-column-end: span 3;

                    &--main { 
                        grid-row-start: 1; 
                        grid-row-end: span 20; 
                        grid-column-end: span 7; 
                    }
                }
            }
        }   
    }
}

.projects-nav {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    z-index: 105;

    &__arrows {
        height: 100%;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        left: 10px; 
        pointer-events: auto; 
        appearance: none;
        background-color: transparent;
        border: none;
        outline: none!important;
        color: $white;
        transform: translate3d(0,-50%,0);
        transition: all .3s ease-in-out;
        cursor: pointer;

        &--next {
            left: auto;
            right: 10px;
        } 

        &:active { 
            transform: translate3d(0,-50%,0) scale3d(1.2,1.2,1.2);
        }

        svg {
            display: block;
        }
    }
}