@import "./../abstracts/bootstrap-required";

.header {
    &--portfolio {
        .nav-pills {
			.nav-link {
				color: white;

				&:hover,
				&.active {
					&::after {
						width: 100%;
						border-color: white;
					}
				}
			}
		}

		.header {
            &-login {
                color: white;
    
                &:hover, 
                &:focus,
                &:active {
                    color: white!important;
                }

                img {
                    box-shadow: 0 0 0 3px $white;
                }
                
                &--is-auth {
                    .header-login { 
                        &[aria-expanded="true"] {
                            img {
                                box-shadow: 0 0 0 3px white;
                            }
                        } 
                    }
                }
                
                &__icon-svg {
                    border-color: $white;
                }
            } 

            &__cta {
                &-btn {
                    border-color: white;
                    color: white;

                    &:hover {
                        color: $black;
                        background-color: white;
                    }
                }
            }
        }
	}
} 

.content--projects {
    .main--archive {
        @include make-row();
    }
}

.portfolio {
    position: relative;
    
    &:hover {
        @include media-breakpoint-up('lg') {
            .portfolio { 
                &__description {
                        border-color: $gray-100;
                        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.07);
                    } 
                }
                
            .entry {
                &__media {
                    &::after {
                        opacity: 0;
                    }

                    &-wrapper {
                        transform: scale(1.1) rotate(-4deg);
                    }
                }
            }
        }
    } 

    &.entry--archive {
        &:last-child {
            @include media-breakpoint-down('md') { 
                margin-bottom: 0;
            }
        }
    }

    &__description {
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        border-top: none;
    }

    &__more {
        font-size: .7rem;
        font-weight: bold;
        text-transform: uppercase;
        
        span {
            display: inline-block;
            margin-right: 8px;
        }
    }

    .entry {  
        &__media {
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            
            &--loading {
                .entry__media-src {
                    filter: blur(1px);
                }
            }

            &::before {
                content: ' ';
                position: absolute; 
                z-index: 3;
                top: 13px;
                right: 13px;
                bottom: -15px;
                left: 13px;
                border: 5px solid #FFF;
            }
        }
    }
}

.portfolio-stats {
    box-shadow: 0 5px 20px 20px rgba(0,0,0,.05);

    &__heading {
        position: relative;
        font-size: 3.3rem;
        line-height: 1;
        letter-spacing: -5px;

        @include media-breakpoint-up('sm') { 
            font-size: 4.3rem;
        }

        @include media-breakpoint-up('xl') { 
            font-size: 5.3rem;
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 3px;
            margin-left: -19px;
            color: theme-color( 'primary' );
            font-family: monospace;
            font-size: 150%;
            font-weight: bold;
            text-shadow: 2px 0px;
            z-index: -1;
            
            @include media-breakpoint-up('sm') {
                margin-top: 4px;
                margin-left: -28px;
                text-shadow: 3px 0px;
            }
            
            @include media-breakpoint-up('xl') {
                margin-top: -5px;
                margin-left: -30px;
                text-shadow: 5px 0px;
            }
        }
    }

    &__view {
        font-size: 1.2rem;
        border-bottom: 1px solid #1c1f21;
    }

    &__nav {
        .nav-link {
            text-transform: uppercase;
            
            &:not(.active) {
                color: $gray-500;
            }
        }
    }

    .d-block {
        font-size: 1.4rem;
        font-weight: 100;
        color: $dark;
        line-height: 1;

        @include media-breakpoint-up('sm') { 
            font-size: 1.7rem;
        }

        @include media-breakpoint-up('xl') { 
            font-size: 2rem;
        }
    }
}