@import "./../abstracts/bootstrap-required";

.header {
    &--portfolio {
        .nav-pills {
			.nav-link {
				color: white;

				&:hover,
				&.active {
					&::after {
						width: 100%;
						border-color: white;
					}
				}
			}
		}

		.header {
            &-login {
                color: white;
    
                &:hover, 
                &:focus,
                &:active {
                    color: white!important;
                }

                img {
                    box-shadow: 0 0 0 3px $white;
                }
                
                &--is-auth {
                    .header-login { 
                        &[aria-expanded="true"] {
                            img {
                                box-shadow: 0 0 0 3px white;
                            }
                        } 
                    }
                }
                
                &__icon-svg {
                    border-color: $white;
                }
            } 

            &__cta {
                &-btn {
                    border-color: white;
                    color: white;

                    &:hover {
                        color: $black;
                        background-color: white;
                    }
                }
            }
        }
	}
} 

.content--projects {
    .main--archive {
        max-width: initial;
        padding-bottom: 50px;
    }
}

.portfolio {
    position: relative;
    
    &:hover {
        @include media-breakpoint-up(lg) {
            .portfolio { 
                &__description {
                        border-color: $gray-100;
                        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.07);
                    } 
                }
                
            .entry {
                &__media {
                    &-figure {
                        &__src {
                            transform: scale(1.1) rotate(-4deg);
                        }
                    }
                }
            }
        }
    } 

    &.entry--archive {
        &:last-child {
            @include media-breakpoint-down(md) { 
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.1rem;
        color: $dark;
        text-align: center;

        a {
            color: inherit;
        }
    }

    &__description {
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        border-top: none;
    }

    &__more {
        font-size: .7rem;
        font-weight: bold;
        text-transform: uppercase;
        
        span {
            display: inline-block;
            margin-right: 8px;
        }
    }

    .entry {  
        &__media {
            position: relative;
            overflow: hidden; 

            &::before,
            &::after {
                content: ' ';
                position: absolute; 
                z-index: 3;
            }

            &::before {
                top: 13px;
                right: 13px;
                bottom: -15px;
                left: 13px;
                border: 5px solid #FFF;
            }

            &::after {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(theme-color('primary'), .10);
                z-index: 2;
            }

            &-figure {
                &__src {
                    transform: scale3d(1.05,1.05,1.05);
                    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    transition-delay: 50ms;
                }
            }
        }
    }
}